<section>
  <h1>About Me</h1>
<a href="https://plus.google.com/+BradUrani/?rel=author"><img src="/images/egypt.jpg"></a>
<p>Brad Urani is Chief Software Architect at <a href="http://pushup.com">Pushup Social</a> where he is an expert in agile test-driven development. He is a start-up veteran, team leader and project manager with previous experience in the social network, ecommerce, video game, industrial process control and educational software fields. Brad is a frequent speaker at software development user groups and conferences and teaches software development classes for <a href="http://launchcodestl.com"/>LaunchCode</a>.</p>
</section>

