<section>
  <h1>About Me</h1>
<a href="https://plus.google.com/+BradUrani/?rel=author"><img src="/images/egypt.jpg"></a>
<p>Brad Urani is Director of Engineering at <a href="http://gainupside.com">Upside</a>. He is an application and database architect specializing in agile test-driven development. He is a start-up veteran, team leader and project manager with previous experience in the social network, ecommerce, video game, industrial process control and educational software fields. Brad is a frequent speaker at software development user groups and conferences and teaches software development classes for <a href="http://launchcodestl.com"/>LaunchCode</a>.</p>
</section>

